@charset "UTF-8";


/* tablets */
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top,#CE45EE, #7CED58)
    }

    #login{
        width: 85vw;
        height: 280px;
    }
    
    #login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario{
        float: right;
        width: 70%;
    }
    
}


/* desktops */
@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to top,#cf45ee, #7bed58d7)
    }

    #login{
        width: 950px;
        height: 300px;

    }

    #login > #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: right center;
    }

    #login > #formulario{
        float: left;
        width: 50%;
      

    }

    #form > h1{
        font-size: 25px;
    }

    #form > p {
        font-size: 1.2em;
        margin: 10px;
    
    }
    
}