@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

/*

verde: #7CED58
lilas: #CE45EE
roxo:  #7B32BA

*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

html, body{
    background-image: url(../imagens/aesthetic-cactus-fmlnhfjwglujkdji.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

#login{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #d8dfd6;
    width: 250px;
    height: 515px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);

    transform: translate(-50%, -50%);
    transition: width .5s, heigth .3s;
    transition-timing-function: ease;
}

#login > #imagem{
    display: block;
    background: url(../imagens/pexels-oziel-gómez-837267.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

#login > #form{
    display: block;
    padding: 10px;

}

#form > h1{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    padding: 10px;
    
}

#form > p {
    font-size: .9em;
    padding: 5px;
}

.campo > label{
    display: none;
}

.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    background-color: #ffffff;
    font-size: 14px;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-9px);
}

.campo > input:focus-within{
    transition: .5s;
    background-color: #d8c0dd;
}

form > .campo{
    background-color: #752586;
    border: 3px solid #752586;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #752586;
    color: wheat;
    border: none;
    border-radius: 6px;
}

form > input[type=submit]:hover{
    background-color: #34113b;
    transition: 1s;
    cursor: pointer;
}

form > a.botao{
    margin-top: 8px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #cf45eeb2;
    transition: 1s;
}